body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 15px;
}

button {
  padding: 10px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
